<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/register-style.css' %}">
    <style>
        .errorlist{
            color: red;
        }
    </style>
</head>

<body>
    <nav class="fixed-top">
                <div class="nav-actions">
                <ul>
                     <li>copyright ©</li>
                </ul>
                <div class="clear"></div>
                </div>
                 <div class="nav-main">
                     <div class="logo"><img src="https://sv1.picz.in.th/images/2019/05/08/wQ0g9q.png"></div>
                     <ul>
                         <li><a class="nav-link text-white mr-md-2" href="#product">Products</a></li>
                         <li><a class="nav-link text-white mr-md-2" href="#shipment">Shipment</a></li>
                     </ul>
                     <div class="clear"></div>
                 </div>
        </nav>
    <div style="height: 18vh; background-color: white"></div>
    <form action="{% url 'register' %}" method="POST">`
        {% csrf_token %}
        <div class="container">
            <div class="d-flex justify-content-center pt-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Sign Up</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            {% csrf_token %}
                            <p style="color: red;">{{ usererror }}</p>

                            {% if form.non_field_errors %}
                                <p>
                                    {{ form.non_field_errors }}
                                </p>
                            {% endif %}
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.username.id_for_label }}"> Username</label>
                                    </span>
                                </div>
                                {{ form.username.errors }}{{ form.username }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.password.id_for_label }}"> Password</label>
                                    </span>
                                </div>
                                {{ form.password.errors }}{{ form.password }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.re_password.id_for_label }}"> Re-password</label>
                                    </span>
                                </div>
                                {{ form.re_password.errors }}{{ form.re_password }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.name.id_for_label }}"> Realname</label>
                                    </span>
                                </div>
                                {{ form.name.errors }}{{ form.name }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.surname.id_for_label }}"> Surname</label>
                                    </span>
                                </div>
                                {{ form.surname.errors }}{{ form.surname }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.email.id_for_label }}"> E-mail</label>
                                    </span>
                                </div>
                                {{ form.email.errors }}{{ form.email }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.address.id_for_label }}"> Address</label>
                                    </span>
                                </div>
                                {{ form.address.errors }}{{ form.address }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.phone.id_for_label }}"> Tel-number</label>
                                    </span>
                                </div>
                                {{ form.phone.errors }}{{ form.phone }}
                            </div>

                            <div class="form-group text-center">
                                <input type="submit" value="Confirm" class="btn bg-warning">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Already have an account?
                            <br>
                            <a href="{% url 'login' %}">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>