<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/register-style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
</head>

<body>
    <form action="{% url 'register' %}" method="POST">`
        {% csrf_token %}

        <nav class="navbar navbar-expand-lg text-white navbar-light">
            <a href="{% url 'login' %}" class="navbar-brand text-warning">SugarBunny</a>
        </nav>
        <div class="container">
            <div class="d-flex justify-content-center pt-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Sign In</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.username.id_for_label }}"> Username</label>
                                    </span>
                                </div>
                                {{ form.username }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.password.id_for_label }}"> Password</label>
                                    </span>
                                </div>
                                {{ form.password }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.re_password.id_for_label }}"> Re-password</label>
                                    </span>
                                </div>
                                {{ form.re_password }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.name.id_for_label }}"> Realname</label>
                                    </span>
                                </div>
                                {{ form.name }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.surname.id_for_label }}"> Surname</label>
                                    </span>
                                </div>
                                {{ form.surname }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.email.id_for_label }}"> E-mail</label>
                                    </span>
                                </div>
                                {{ form.email }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.address.id_for_label }}"> Address</label>
                                    </span>
                                </div>
                                {{ form.address }}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <label id="{{ form.phone.id_for_label }}"> Tel-number</label>
                                    </span>
                                </div>
                                {{ form.phone }}
                            </div>

                            <div class="form-group text-center">
                                <input type="submit" value="Confirm" class="btn bg-warning">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Already have an account?
                            <br>
                            <a href="{% url 'login' %}">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>