<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/create-feedback-style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg text-white navbar-light">
        <a href="{% url 'index' %}" class="navbar-brand text-warning">SugarBunny</a>
    </nav>

    <div class="create-feedback-header">
        <div class="container">
            <h2> ยินดีต้อนรับคุณ <span class="semi-bold text-landing"> {{ name }} {{ surname }}</span>
            </h2>
        </div>
    </div>

    {{ formset.management_form }}

    <table class="table mt-5" style="font-family: 'Mali', cursive;">
        <thead class="thead topic" style="background-color: rgb(129, 94, 253);">
            <tr>
                <th scope="col-9">รายละเอียด</td>
                <th scope="col-2">สถานะ</td>
            </tr>
        </thead>

        <tbody style="background-color: rgba(255, 255, 255, 0.404);">
        {% for form in formset %}
        <tr>
            <td>{{ form.detail.value }}</td>
            <td>{{ form.status.value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>

</html>