<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedback-style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg text-white navbar-light">
            <a href="{% url 'index' %}"><h1 class="navbar-brand text-warning">SugarBunny</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-3">
                    <li class="nav-item">
                        <a class="nav-link text-white mr-md-2" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white mr-md-2" href="{% url 'feedback' %}">Feedback</a>
                    </li>
                </ul>
            </div>
        </nav>

    <div class="create-feedback-header">
        <div class="container">
            <h2> ยินดีต้อนรับคุณ <span class="semi-bold text-landing"> {{ name }} {{ surname }}</span>
            </h2>
        </div>
    </div>

    {{ formset.management_form }}

    <table class="table mt-5" style="font-family: 'Mali', cursive;">
        <thead class="thead topic" style="background-color: rgb(129, 94, 253);">
            <tr>
                <th scope="col-9">รายละเอียด</td>
                <th scope="col-2">สถานะ</td>
            </tr>
        </thead>

        <tbody style="background-color: rgba(255, 255, 255, 0.404);">
        {% for form in formset %}
        <tr>
            <td>{{ form.detail.value }}</td>
            <td>
                {% if form.status.value == 'unread' %}
                <button  class="btn btn-danger">{{ form.status.value }}</button>
                {% else %}
                <button  class="btn btn-success">{{ form.status.value }}</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create-feedback' %}" style="margin-left: 15%"><button type="button" class="btn btn-warning">CREATE</button></a>
</body>

</html>