@import url('https://fonts.googleapis.com/css?family=Mali');

* { box-sizing: border-box; font-family: 'Mali', cursive }
div#profile-container { display: flex; justify-content: space-between; }
div#profile-container figure {
  display: inline-block;
  }
body{
    font-family: 'Mali', cursive !important;
}
div#profile-container figure div {
  border-radius: 50%;
  overflow: hidden;
  background-blend-mode: luminosity;
  border: 5px solid #000;
  width: 14rem; height: 14rem;
  transition: .4s linear;
  will-change: background-color;
}
div#profile-container figure div:hover {
  border: 8px solid #000;
  background-color: transparent;
}
div#profile-container figcaption {
  margin-top: 1rem;
  text-align: center;
}
.mint {
  background: url(https://sv1.picz.in.th/images/2019/05/08/wQY2U8.jpg) no-repeat center
    hsl(200,50%,50%);
  background-size: cover;
}
.somjuk {
  background: url(https://sv1.picz.in.th/images/2019/05/08/wQYr2Z.jpg) no-repeat center
    hsl(200,50%,50%);
  background-size: cover;
}
.mo {
  background: url(https://sv1.picz.in.th/images/2019/05/08/wQYDja.jpg)
    hsl(200,50%,50%);
  background-size: cover;
}
.meak {
  background: url(https://sv1.picz.in.th/images/2019/05/08/wQY670.jpg)
    hsl(200,50%,50%);
  background-size: cover;
}
.context{
    margin-top: auto;
    margin-bottom: auto;
}
nav{
    background-color: rgba(97, 171, 222, 0.75);
}