@import url('https://fonts.googleapis.com/css?family=Mali');

html, body {
    background-image: linear-gradient(to bottom, rgb(94, 188, 250), rgb(248, 174, 244));
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Mali', cursive;
}

.navbar-brand{
    font-family: 'Mali', cursive;
    font-size: 40px;
}

.text-landing {
    color: #f1e100;
}

.semi-bold {
    font-weight: 600;
}
