@import url('https://fonts.googleapis.com/css?family=Mali');

html, body {
  background-color:aliceblue;
  font-family: 'Mali', cursive;
}

.table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.navbar-brand{
    font-family: 'Mali', cursive;
    font-size: 40px;
}

.text-landing {
    color: #f1e100;
}

.semi-bold {
    font-weight: 600;
}

.navbar.navbar-expand-lg.text-white.navbar-light{
    height: 13vh;
    background-color: rgba(43, 151, 223, 0.637)
}

.navbar-brand{
    padding: 3vh;
}

.container{
  padding-top:3%;
}