@import url('https://fonts.googleapis.com/css?family=Mali');

html, body {
    background-image: linear-gradient(to bottom, rgb(108, 158, 250), rgb(128, 94, 250));
    background-repeat: no-repeat;
}

.pt-3 {
    padding: 150px;
  }

.navbar-brand{
    font-family: 'Mali', cursive;
    font-size: 40px;
}

.product-header{
    height: 75px;
    background: rgba(231, 50, 201, 0.767)
}

.product-header h3{
    color: white;
    font-family: 'Mali', cursive;
    font-size: 2em;
    padding-top: 25px;
}

.text-landing {
    color: #f1e100;
}

.semi-bold {
    font-weight: 600;
}

.carousel{
    border: 7px solid rgb(255, 255, 255);
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 7.5%;
}

.product-detail{
    font-family: 'Mali', cursive;
    margin-top: 5%;
}

.product-text{
    color: #e6e6e6;
}

.shipment-header{
    height: 75px;
    background: rgba(231, 50, 201, 0.767);
    margin-top: 6.5%;
}

.shipment-header h3{
    color: white;
    font-family: 'Mali', cursive;
    font-size: 2em;
    padding-top: 25px;
}

.shipment-detail{
    font-family: 'Mali', cursive;
    margin-top: 5%;
}

.shipment-text{
    color: #e6e6e6;
    padding-left: 50px;
}

.shipment-img img{
    min-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

.about-header{
    height: 120px;
    background: rgba(128, 50, 231, 0.767)
}

.about-text{
    color: #f1e100;
    font-family: 'Mali', cursive;
    margin-left: 15%;
    margin-top: 10%;
}

.member{
    color: white;
    font-family: 'Mali', cursive;
    margin-top: 5%;
}