@import url('https://fonts.googleapis.com/css?family=Mali');

html, body {
    background-color: aliceblue;
    font-family: 'Mali', cursive;
}
.table{

}
.navbar-brand{
    font-family: 'Mali', cursive;
    font-size: 40px;
}

.text-landing {
    color: #f1e100;
}

.semi-bold {
    font-weight: 600;
}

.borderless td, .borderless th {
    border-top: none;
}

.table thead th{
    border-bottom: none;
}

.order-list{
    margin-top: 5%;
}

.order-list h3{
    margin-left: 1%;
    margin-bottom: -2%;
}


.navbar.navbar-expand-lg.text-white.navbar-light{
    height: 13vh;
    background-color: rgba(43, 151, 223, 0.637)
}

.navbar-brand{
    padding: 3vh;
}

.container{
  padding-top:3%;
}

.btn{
    float: right;
}

.mr-5{
    margin-right: 15% !important ;
}