html, body {
    background-image: linear-gradient(to bottom, rgb(128, 94, 250), rgb(108, 158, 250));
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand{
    font-family: 'Mali', cursive;
    font-size: 40px;
}

.input-group-text{
    width: 120px;
}

.card{
    width: 450px;
    font-family: 'Mali', cursive;
}

form{
    margin-bottom: 5%;
}
