html, body {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
}
.input-group-text{
    width: 120px;
}

.card{
    width: 450px;
    font-family: 'Mali', cursive;
}

form{
    margin-bottom: 5%;
}
.clear {
  clear: both;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(97, 171, 222, 0.75);
}

nav .nav-main {
  padding: 10px 20px;
}

nav .nav-actions {
  padding: 10px 20px;
  background-color: #000000;
}

nav .logo {
  float: left;
  line-height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  line-height: 50px;
  padding: 0 10px;
}

nav .nav-actions li {
  font-size: 12px;
  color: #ffffff;
  line-height: 20px;
}
.card-header {
    background-color: #c8e2fe;
}
.card-footer {
    background-color: #b3d7ff;
}
.input-group-text {
    background-color: #b3d7ff;
}