<!doctype html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
</head>

<body style="background-image: linear-gradient(to bottom, rgb(128, 94, 250),rgb(108, 158, 250));">
    <div id="app">
        <nav class="navbar navbar-expand-lg text-white navbar-light">
            <a href="{% url 'index' %}"><h1 class="navbar-brand text-warning">SugarBunny</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-3">
                    <li class="nav-item">
                        <a class="nav-link text-white mr-md-2" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white mr-md-2" href="{% url 'feedback' %}">Feedback</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="pdChoice">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" style="margin-bottom: 3%" v-for="product in info">
                        <product :key="product.id" :product="product" @add-to-cart="updateCart"></product>
                    </div>
                </div>
            </div>
        </div>
        <div id="cart">
            <div id="cart-content" class="fixed">
            <div class="col-dx">
            <div class="cart">
                <h2>Your Cart</h2>

                <template v-if="cart.length">
                <form onsubmit="return false">
                <table class="cart-list">
                    <thead>
                        <tr>
                            <th class="head-title">Product</th>
                            <th class="head-price">Price</th>
                            <th class="head-quantity">Quantity</th>
                            <th class="head-total">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-item" v-for="(item, id) in cart" :key="'id-' + id">
                            <td>
                                <h4 class="title">[[ item.name ]]</h4>
                            </td>
                            <td>
                                <div class="price">[[ item.price ]]</div>
                            </td>
                            <td>
                                <div class="quantity">
                                    [[ item.quantity ]]<span class="qty-handler"><span @click="add(item)">+</span><span @click="sub(item)">-</span></span>
                                </div>
                            </td>
                            <td>
                                <div class="total">[[ item.price * item.quantity ]]</div>

                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">
                                <h4 class="total-title">Total</h4>
                            </th>
                            <th>[[ total ]]</th>
                        </tr>
                        <tr>
                            <th colspan="3">
                                <h5 class="total-title">Include Discount</h5>
                            </th>
                            <th>[[total_discount]]</th>
                        </tr>
                        <tr>
                            <th colspan="3">
                            </th>

                        </tr>
                    </tfoot>
                </table>
                    <br>
                    <div class="next-step">
                        <div class="form-payment">
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                        <label for="shipmentType">Shipment Type</label>
                                        <select required id="shipmentType" class="form-control"
                                            v-model="user.shipmentType">
                                            <option selected disabled>Please Select</option>
                                            <option value="Thailand Post">Thailand Post</option>
                                            <option value="Kerry Express Thailand">Kerry Express Thailand</option>
                                        </select>
                                    </div>
                            </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputName">Name</label>
                                        <input readonly required type="text" class="form-control" id="inputName"
                                            placeholder="Name" v-model="name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputSurname">Surname</label>
                                        <input readonly type="text" class="form-control" id="inputSurname" placeholder="Surname"
                                            v-model="surname">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Email</label>
                                        <input readonly required type="email" class="form-control" id="inputEmail4"
                                            placeholder="Email" v-model="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Address</label>
                                    <input readonly type="text" class="form-control" id="inputAddress"
                                        placeholder="1234 Main St Bangkok, Thailand 10250" v-model="address">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label for="paymentType">Payment Type</label>
                                        <select required id="paymentType" class="form-control"
                                            v-model="user.paymentType">
                                            <option selected disabled>Please Select</option>
                                            <option value="creditCard">Credit Card</option>
                                            <option value="promptPay">promptPay</option>
                                        </select>
                                    </div>
                                    <template v-if="user.paymentType === 'creditCard'">
                                        <div class="form-group">
                                            <label for="inputCredit">Credit Card</label>
                                            <input required type="text" class="form-control" id="inputCredit"
                                                placeholder="xxxx xxxx xxxx" v-model="user.creditNumber">
                                            <label for="namecard">Name</label>
                                            <input required type="text" class="form-control" id="namecard"
                                                placeholder="Card Holder">
                                            <label for="ccv">CCV/CVV</label>
                                            <input required type="password" class="form-control" id="ccv"
                                                placeholder="xxx">
                                            <label for="exp">Expires</label>
                                            <input required type="text" class="form-control" id="exp"
                                                placeholder="MM/YY">
                                        </div>
                                    </template>
                <template v-if="user.paymentType === 'promptPay'">
                                        <div class="form-group">
                                            <!-- <label for="inputphoneNumber">Phone Number</label> -->
                                            <!-- <input type="text" class="form-control" id="inputphoneNumber"
                                                placeholder="+66 ....." v-model="user.phoneNumber"> -->
                                            <br>
                                            <img src="pic/promptpay-png-1.png" alt=""
                                                style="background: rgb(255, 255, 255);">
                                            <label>โปรดscan QR-CODE</label>
                                        </div>
                                    </template>
            </div>
        </div>

    </div>
    <input type="submit" value="submit" @click="submit">
    </form>
    </template>
    <template v-else>
                    <div>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="150.5px" height="150.5px" viewBox="-50.25 -50.25 250.5 250.5">
  <defs>
    <clipPath id="mask">
      <circle id="bgClip" cx="64" cy="64" r="64"/>
    </clipPath>
  </defs>
  <g clip-path="url(#mask)">
    <circle id="bg" fill="#EA502F" cx="64" cy="64" r="64"/>
    <g id="product">
      <path id="productA" fill="#FFFFFF" d="M88.48,47.234V32.078c0-1.65-1.351-3-3-3h-40.29c-1.65,0-3,1.35-3,3v15.156H88.48z"/>
      <path id="productB" fill="#FFFFFF" d="M88.48,47.234V32.078c0-1.65-1.351-3-3-3h-40.29c-1.65,0-3,1.35-3,3v15.156H88.48z"/>
      <path id="productC" fill="#FFFFFF" d="M88.48,47.234V32.078c0-1.65-1.351-3-3-3h-40.29c-1.65,0-3,1.35-3,3v15.156H88.48z"/>
    </g>
    <path id="cart" fill="#633D50" d="M98.93,68.005v-21.05c0-1.65-1.351-3-3-3H29c-0.245,0-0.449,0.022-0.632,0.055h-4.103
      c-1.657,0-3,1.343-3,3c0,1.657,1.343,3,3,3h5.155c0.866,0.091,3.482,2.727,4.621,7.426l5.954,24.561
      c0.853,3.519,3.097,6.628,6.027,8.806c-0.875,1.135-1.401,2.553-1.401,4.098c0,3.713,3.01,6.722,6.722,6.722
      c3.711,0,6.722-3.009,6.722-6.722c0-0.303-0.027-0.6-0.066-0.892h27.463c-0.038,0.292-0.065,0.589-0.065,0.892
      c0,3.713,3.011,6.722,6.722,6.722c3.713,0,6.723-3.009,6.723-6.722c0-3.541-2.737-6.434-6.21-6.696
      c-0.324-0.119-0.67-0.194-1.035-0.194H55.267c-3.344,0-6.805-2.219-8.528-5.191L96.01,71.675
      C97.62,71.305,98.93,69.654,98.93,68.005z M55.96,71.175c0,1.66-1.35,3-3,3c-1.66,0-3-1.34-3-3v-17.65c0-1.65,1.34-3,3-3
      c1.65,0,3,1.35,3,3V71.175z M71.779,67.016c0,1.649-1.34,3-3,3c-1.649,0-3-1.351-3-3V53.525c0-1.65,1.351-3,3-3c1.66,0,3,1.35,3,3
      V67.016z M87.609,63.345c0,1.66-1.34,3-3,3c-1.649,0-3-1.34-3-3v-9.82c0-1.65,1.351-3,3-3c1.66,0,3,1.35,3,3V63.345z"/>
  </g>
</svg>
                    </div>
                </template>
    </div>
    </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>

    <script>
        var csrftoken = Cookies.get('csrftoken');
        Vue.component('product', {
            delimiters: ['[[', ']]'],
            props: {
                product: null,
            },
            template: `
        <div class="product">

            <div class="card" style="width: 25rem;">
                    <img :src="image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">[[ product.name ]]</h5>
                        <p v-if="inStock">In Stock</p>
                        <p v-else>Out of Stock</p>
                        <p v-show="dspl" style="color:#919191;font-size:1.5vh;">[[product.describe]]</p>
                        <a @click="revert" value="show" style="color:#919191; font-size:1.5vh; margin-top:0;">CLICK TO SHOW DETAIL!</a>
                        <p class="card-text" style="color:red;"> [[product.price]] BATH</p>
                        <button v-on:click="addToCart":disabled="!inStock":class="{ disabledButton: !inStock }" >Add to cart</button>
                    </div>
            </div>
        </div>
     `,
            data() {
                return {
                    dspl: false
                }
            },

            methods: {
                revert: function(){
                    this.dspl = !this.dspl;
                },
                addToCart: function() {
                    this.$emit('add-to-cart', this.product)
                },
            },
            computed: {
                image() {
                    return this.product.img_url
                },
                inStock() {
                    return this.product.quantity
                }
            }
        })

        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                user: {
                    shipmentType: "",
                    paymentType: "",
                    creditNumber: "",
                },
                info: null,
                premium: true,
                cart: [],
                mygroup: [],
                total: 0,

            },

            computed: {
                name(){
                    return "{{ dealer.user.first_name }}"
                },
                surname(){
                    return "{{ dealer.user.last_name }}"
                },
                email(){
                    return "{{ dealer.user.email }}"
                },
                address(){
                    return  "{{ dealer.address }}"
                },
                total_discount() {
                    return this.total - (this.total * {{dealer.discount}})
                }
            },
            mounted() {
                axios
                    .get('http://localhost:8000/api/products/')
                    .then(response => (this.info = response.data.products))
            },
            methods: {
                updateCart(product) {
                    this.total += parseFloat(product.price);
                    let inCart = false;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i].id === product.id) {
                            inCart = true;
                            this.cart[i].quantity += 1;
                            this.cart[i].total = this.total;
                            break;
                        }
                    }
                    if (!inCart) {
                        this.cart.push({
                            id: product.id,
                            name: product.name,
                            price: product.price,
                            quantity: 1,
                            total: this.total
                        });
                    }
                    for (var i = 0; i < this.info.length; i++) {
                        if (this.info[i].id === product.id) {
                            this.info[i].quantity -= 1;
                        }
                    }
                },
                add(item) {
                    this.total += parseFloat(item.price);
                    item.quantity++;
                    for (var i = 0; i < this.info.length; i++) {
                        if (this.info[i].id === item.id) {
                            this.info[i].quantity -= 1;
                        }
                    }
                    for (var i = 0; i < this.cart.length; i++) {
                        this.cart[i].total = this.total;
                    }
                },
                sub(item) {
                    this.total -= item.price;
                    if (item.quantity > 1) {
                        item.quantity--;
                        for (let i = 0; i < this.cart.length; i++) {
                            if (this.cart[i].id === this.info[i].id) {
                                this.info[i].quantity += 1;
                            }
                        }
                        for (var i = 0; i < this.cart.length; i++) {
                            this.cart[i].total = this.total;
                        }
                    } else {
                        for (let i = 0; i < this.cart.length; i++) {
                            if (this.cart[i].id === item.id) {
                                this.cart.splice(i, 1);
                                this.info[i].quantity += 1;
                                break;
                            }
                        }
                    }
                },
                submit() {
                    console.log(this.cart)
                    this.mygroup.push({
                        shipment:this.user.shipmentType
                    })
                    this.mygroup.push(this.cart)
                    axios
                        .post('http://localhost:8000/products/api/index/',
                            this.mygroup, {
                                headers: {
                                    'X-CSRFTOKEN': csrftoken
                                }
                            }
                        )
                        .then(response => {
                            console.log(response)
                            this.success = true
                            this.errorMSG = response.data
                        })
                        .catch(error => {
                            console.log(error.response)
                            this.errorMSG = ''
                        })
                    window.location.href = 'http://localhost:8000/products/profile'
                }
            }
        })
    </script>
</body>

</html>