<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<h1>This is order #{{ order.id }}</h1>

<table>
    <tr>
        <th>สินค้า</th>
        <th>จำนวน</th>
        <th>ราคาต่อชิ้น</th>
        <th>ราคา</th>
    </tr>
    {% for item in orderdetail %}
        <tr>
            <td>{{ item.detail }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.amount }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td colspan="2">รวมราคา</td>
        <td>{{ order.total_price1 }}</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">ส่วนลด</td>
        <td>{{ dealer.discount }}%</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">ราคารวมส่วนลด</td>
        <td>{{ order.total_price2 }}</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">{{ shipment.name }}</td>
        <td>{{ shipment.status }}</td>
    </tr>


</table>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>