<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/order-style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg text-white navbar-light">
        <a href="{% url 'index' %}"><h1 class="navbar-brand text-warning"><img width="256px" src="https://sv1.picz.in.th/images/2019/05/06/wiizRb.png"></h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-3">
                    <li class="nav-item">
                        <a class="nav-link text-white mr-md-2" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white mr-md-2" href="{% url 'feedback' %}">Feedback</a>
                    </li>
                </ul>
            </div>
        </nav>

    <div class="profile-header">
        <div class="container">
            <h2> ยินดีต้อนรับคุณ <span class="semi-bold text-landing"> {{ dealer.user.first_name }}
                    {{ dealer.user.last_name }}</span>
            </h2>

        </div>
    </div>

    <div class="order-list">
        <table class="table mt-5 borderless" style="border-radius: 1em;overflow: hidden;width: 70%;margin-left: auto;margin-right: auto;">
            <h3 style="text-align: center"><span class="semi-bold text-landing">
                ใบสั่งซื้อที่ {{ order.id }}</span><img src="https://sv1.picz.in.th/images/2019/05/06/wiZTEV.png"></h3>
            <thead class="thead topic" style="background-color: rgba(25, 60, 175, 0.377);  text-align: center;">
                <tr>
                    <th scope="col-6">สินค้า</td>
                    <th scope="col-2">จำนวน</td>
                    <th scope="col-2">ราคาต่อชิ้น</td>
                    <th scope="col-2">ราคา</td>
                </tr>
            </thead>

            <tbody style="background-color: rgba(255, 255, 255, 0.404); text-align: center;">
                {% for item in orderdetail %}
                <tr>
                    <td>{{ item.detail }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>

            <thead class="thead topic summary" style="background-color: rgba(25, 60, 175, 0.377);  text-align: center;">
                <tr>
                    <th scope="col-6"></td>
                    <th scope="col-2"></td>
                    <th scope="col-2">ราคาทั้งหมด</td>
                    <th scope="col-2"> {{ order.total_price1 }} </td>
                </tr>
                <tr>
                    <th scope="col-6"></td>
                    <th scope="col-2"></td>
                    <th scope="col-2">ส่วนลด</td>
                    <th scope="col-2">{{ dealer.discount }}%</td>
                </tr>
                <tr>
                    <th scope="col-6"></td>
                    <th scope="col-2"></td>
                    <th scope="col-2">จำนวนเงินที่ต้องชำระ</td>
                    <th scope="col-2">{{ order.total_price2 }}</td>
                </tr>
                <tr>
                    <th scope="col-2">{{ shipment.name }}</td>
                    <th scope="col-6" colspan="2">Tracking number : {{ shipment.track_number }}</td>

                    <th scope="col-2">Status : {{ shipment.status }}</td>
                </tr>
            </thead>

        </table>
        <a href="{% url 'profile' %}" class="btn btn-warning mr-5 float-right"> ย้อนกลับ </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>